
## Playgrounds
timeline.xctimeline
playground.xcworkspace

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
 